@charset "UTF-8";

@import "variables";

/*---------------------------
  規範原文ページのメイン領域
---------------------------*/

// ページのタイトル
.page-title {
  width: 100%;
  margin: 2rem auto 1.1rem;
  padding: 0.5rem 0;
  background-color: $red;
  box-shadow: 0 0 0 0.4rem $red;
  border: dashed 0.2rem $white;
  color: $white;
  font-family: $krSunflower;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    // width: 100%;
    margin-top: 3rem;
    font-size: 3.5rem;
  }

  position: relative;

  &:after {
    position: absolute;
    content: "";
    left: -0.8rem;
    top: -0.7rem;
    border-width: 0 0 3rem 3rem;
    border-style: solid;
    border-color: $base $base $brown;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(silver, 0.5);
  }
}

// 全例表示切り替えボタン
.all-ex-btn {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  background-color: $white;
  color: $red;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0 rgba(black, 0.5);

  &:hover,
  &:active {
    background-color: $red;
    color: $white;
    box-shadow: none;
  }
}

// タイトル部共通
.title {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: $krNoto;
}

// 章の部分
.chapter {
  margin-bottom: 1.5rem;

  &__title {
    margin-bottom: 3rem;
    background-color: $beige;
    color: $gray;
    border-bottom: solid 0.5rem $brown;

    & span {
      color: $brown;
    }
  }
}

// 項の部分
.term {
  margin-bottom: 4rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 5rem;
  }

  &__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    width: 95%;
    color: $gray;
    background: transparent;
    border-left: solid 0.5rem $brown;

    & span {
      color: $brown;
    }
  }

  & .ex-btn {
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: rgba($brown, 0.8);
    color: $white;
    text-align: center;
    line-height: 3rem;

    &:hover {
      cursor: pointer;
      background-color: rgba($lightBrown, 0.8);
    }
  }
}

// 項の1), 2) ...の部分
.term__detail {
  &__title {
    margin-bottom: 1rem;
    padding-left: 0;

    & span {
      color: $brown;
    }
  }
}

// 項の(1), (2) ...の部分
.term__detail__case {
  &__title {
    padding: 0;

    & span {
      color: $lightBrown;
    }
  }
}

// 序文
.introduction {
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 5rem;
  }

  & span {
    font-family: $krSongmyong;
    font-size: 1.8rem;

    @media screen and (min-width: 768px) {
      font-size: 2.1rem;
    }
  }
}

// 解説ブロック
.term__description {
  color: $gray;

  @media screen and (min-width: 768px) {
    margin-left: 2rem;
  }

  & .complement {
    display: block;
    margin-bottom: 0.5rem;
    width: 5rem;
    background-color: $lightBrown;
    border: 1px solid $brown;
    color: $white;
    text-align: center;
  }
}

// 解説部分
.description {
  margin-bottom: 2rem;
}

// 例示部分
.example {
  table {
    width: 100%;
    margin-bottom: 3rem;
    background-color: $yellow;

    & tr {
      & th,
      & td {
        text-align: center;
        padding: 0.6rem 1rem;
        border: 1px solid $base;

        &.text-left {
          text-align-last: left;
        }

        @media (max-width: 767px) {
          & span {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

/*---------------------------
  解説一覧ページ・QAページ共通部
---------------------------*/
.norm-category-title {
  margin: 1rem 0 2rem;
  font-size: 2.5rem;
  text-align: center;
  color: $brown;
  font-family: $krNoto;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
}

/*---------------------------
  解説一覧ページのメイン領域
---------------------------*/
.list-container {
  width: 100%;
}

.list-container__selector {
  & ul {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & li {
      width: calc(100% / 3 - 0.6rem);

      @media screen and (min-width: 768px) {
        width: calc(100% / 5 - 0.6rem);
      }

      margin: 0.3rem;
      margin-bottom: 1.5rem;
      padding: 0.4rem 0;
      background-color: $beige;
      color: $darkBrown;
      text-align: center;
      border-radius: 0.5rem;

      &:hover {
        background-color: rgba($red, 0.7);
        color: $white;
      }

      &.active {
        background-color: $red;
        color: $white;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          border: 1rem solid transparent;
          border-top: 1rem solid $red;
          width: 0;
          height: 0;
        }
      }
    }
  }
}

.list-container__wrapper {
  @media screen and (min-width: 768px) {
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .list-item {
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: $yellow;
    box-shadow: 0.3rem 0.3rem 0.7rem $brown;
    border-radius: 0.5rem;

    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      width: calc(100% / 2 - 1.5rem);
    }

    @media screen and (min-width: 1100px) {
      width: calc(100% / 3 - 1.5rem);
    }

    &__header {
      position: relative;

      & .title {
        width: 90%;
        text-align: center;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        font-family: $krPoor;
        font-size: 2.5rem;

        @media screen and (min-width: 768px) {
          top: 10%;
          font-size: 1.8rem;
        }

        &.color {
          color: $black;
        }
      }
    }

    &__content {
      margin: 1rem 0 0.5rem;

      & .lead {
        padding: 0 0.3rem;
        font-size: 1.6rem;
        line-height: 1.5;
      }

      & .info {
        display: flex;
        justify-content: flex-end;
        font-size: 1.4rem;

        & .date {
          color: $gray;
        }

        & .category {
          margin-left: 1rem;
          color: $brown;
        }
      }
    }
  }
}

/*---------------------------
  解説記事ページのメイン領域
---------------------------*/
// ページのタイトル
.title-block {
  &__category {
    // border-bottom: 3px solid $red;
    color: $brown;
  }

  &__title {
    margin: 0 auto;
    padding: 1rem 0 0.5rem;
    color: $darkBrown;
    font-family: $krPoor;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    border-bottom: 3px solid $red;

    @media screen and (min-width: 768px) {
      width: 80%;
      font-size: 5rem;
    }
  }

  &__date {
    margin-top: 0.5rem;
    text-align: right;
  }
}

// 本文部
.content-block {
  width: 95%;
  margin: 2.5rem auto 0;
}

// 本文のセクションのタイトル
.section-title-block {
  margin-bottom: 3rem;
  background-color: $pink;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.1rem 0.1rem 0.1rem silver;
  color: $gray;
  font-size: 2rem;
  font-family: $krSunflower;
  display: flex;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }

  &__number {
    display: block;
    width: 10%;
    max-width: 5rem;
    background-color: $red;
    color: $white;
    text-align: center;
  }

  &__title {
    padding-left: 1rem;
  }
}

// 本文の内容部分
.section-content-block {
  margin-bottom: 4rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 5.5rem;
  }

  & p {
    margin-bottom: 1.5rem;
    color: $gray;
    font-family: $krNoto;
    line-height: 1.9;

    @media screen and (min-width: 768px) {
      margin-bottom: 2.5rem;
      margin-left: 1.5rem;
    }

    & .emphasis {
      font-weight: bold;
      color: $red;
    }

    & .underline {
      background-image: linear-gradient(left, transparent 50%, #fcc786 50%);
      background-repeat: repeat-x;
      background-size: 200% 0.7em;
      background-position: 0 0.5em;
      transition: all 3s ease;

      &.isActive {
        background-position: -100% 0.5em;
        font-weight: bold;
      }
    }
  }

  .quote {
    width: 95%;
    margin: 3.5rem auto;

    @media screen and (min-width: 768px) {
      margin: 5rem auto;
    }

    padding: 1rem 1rem 1rem 5rem;
    box-sizing: border-box;
    background-color: $yellow;
    color: $brown;
    border-left: 0.7rem solid $lightBrown;
    box-shadow: 0 0.2rem 0.4rem rgba($black, 0.14);
    position: relative;

    & p {
      color: $brown;
    }

    &:before {
      display: inline-block;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      content: "\f10d";
      font-family: FontAwesome;
      color: $beige;
      font-size: 2rem;
      line-height: 1;
      font-weight: bold;
    }
  }
}

/*---------------------------
  QAページのメイン領域
---------------------------*/
.qa-item {
  width: 100%;
  border-top: 1px solid $beige;
  padding: 1rem 0;

  &__question {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span,
    & i {
      display: block;
    }

    & .mark_and_category {
      margin-right: 1rem;
      @media screen and (min-width: 768px) {
        margin-right: 2.5rem;
      }
      width: 20%;

      @media screen and (min-width: 768px) {
        width: 10%;
      }

      & .mark {
        color: $red;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
      }

      & .category {
        background-color: $lightBrown;
        color: $white;
        text-align: center;
        border-radius: 0.5rem;
        font-size: 1.3rem;
      }
    }

    & .sentence {
      width: 85%;
      padding-top: 2rem;
      // font-family: $krSunflower;
      font-size: 2rem;
      @media screen and (min-width: 768px) {
        padding-top: 1rem;
        font-size: 2.5rem;
      }
    }

    & i {
      margin-left: 1rem;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      background-color: $brown;
      color: $white;
    }
  }

  &__answer {
    margin-left: 5rem;
    padding: 1rem;
    @media screen and (min-width: 768px) {
      margin-left: 8rem;
      font-size: 2.2rem;
    }

    display: flex;
    justify-content: space-between;
    background-color: $yellow;
    border-radius: 1rem;
    position: relative;

    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f111";
      font-weight: 900;
      color: $yellow;
      position: absolute;
      font-size: 1rem;
      top: -1rem;
      left: -3rem;
      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
        // top: 0;
        left: -5rem;
      }
    }

    &:after {
      font-family: "Font Awesome 5 Free";
      content: "\f111";
      font-weight: 900;
      color: $yellow;
      position: absolute;
      font-size: 1.5rem;
      top: 0.5rem;
      left: -2rem;
      @media screen and (min-width: 768px) {
        font-size: 2.5rem;
        // top: 0.5rem;
        left: -3rem;
      }
    }

    & .mark {
      display: block;
      width: 40%;
      @media screen and (min-width: 768px) {
        width: 10%;
      }
      color: $orange;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }

    // & .answer-message {
    //   width: 80%;
    // }
  }
}
